services:
  # The Analytics Engine
  clickhouse:
    image: clickhouse/clickhouse-server:latest
    container_name: ids_clickhouse
    ports:
      - "8123:8123" # HTTP port for Next.js
      - "9000:9000" # TCP port for Native clients (Vector)
    volumes:
      - ./packages/database/data:/var/lib/clickhouse
      - ./packages/database/init:/docker-entrypoint-initdb.d
    ulimits:
      nofile:
        soft: 262144
        hard: 262144     
    environment:
          CLICKHOUSE_DB: ids
          CLICKHOUSE_USER: default
          CLICKHOUSE_PASSWORD: admin  # In production, we'd use a .env file
          CLICKHOUSE_DEFAULT_ACCESS_MANAGEMENT: 1
  vector:
      image: timberio/vector:latest-alpine
      container_name: vector
      depends_on:
        - clickhouse
      ports:
        - "8686:8686" # Vector API
      volumes:
        - ${PWD}/packages/database/vector.toml:/etc/vector/vector.toml:ro        # We mount a shared logs volume so we can "fake" writing logs later
        - ./logs/suricata:/var/logs/suricata  
        - ./GeoLite2-City/GeoLite2-City.mmdb:/etc/vector/GeoLite2-City.mmdb:ro
      command: ["--config", "/etc/vector/vector.toml"]
  suricata:
      image: jasonish/suricata:latest
      container_name: suricata
      cap_add:
        - NET_ADMIN
        - NET_RAW
        - SYS_NICE
      volumes:
        - ${PWD}/logs/suricata:/var/log/suricata
        - ${PWD}/rules:/var/lib/suricata/rules
      command: -c /etc/suricata/suricata.yaml -i eth0 -k none -s /var/lib/suricata/rules/local.rules