# packages/database/vector.toml
# 
[enrichment_tables.geoip_table]
  type = "geoip"
  path = "/etc/vector/GeoLite2-City.mmdb"

[api]
enabled = true
address = "0.0.0.0:8686"

[sources.suricata_logs]
type = "file"
include = ["/var/logs/suricata/eve.json"]
ignore_older_secs = 600
read_from = "end"

[sources.mock_http]
type = "http_server"
address = "0.0.0.0:8687"     # New port for data
encoding = "json"            # Auto-parses the JSON body

[transforms.suricata_parse]
type = "remap"
inputs = ["suricata_logs"]
source = '''
  . = parse_json!(.message)

  if .event_type != "alert" {
    abort
  }

  ts = parse_timestamp!(.timestamp, format: "%Y-%m-%dT%H:%M:%S.%f%z")
  .timestamp = to_unix_timestamp(ts, unit: "milliseconds")

  .src_ip = .src_ip
  .dest_ip = .dest_ip
  .src_port = .src_port
  .dest_port = .dest_port
  
  .proto = to_string(.proto) ?? "UNKNOWN"

  # Alert details
  .alert_signature = to_string(.alert.signature) ?? "Unknown"
  .alert_severity = to_int(.alert.severity) ?? 3
  .alert_action = to_string(.alert.action) ?? "allowed"

  del(.alert)
  del(.flow_id)
  del(.payload)
  del(.packet)
  del(.packet_info)
'''

[transforms.mock_normalize]
type = "remap"
inputs = ["mock_http"]
source = '''
  .raw_json = encode_json(.)

  ts = parse_timestamp!(.timestamp, format: "%Y-%m-%dT%H:%M:%S.%fZ")
  .timestamp = to_unix_timestamp(ts, unit: "milliseconds")

  .proto = .proto || "TCP"
  .alert_signature = .alert.signature
  .alert_severity = .alert.severity
  
  .alert_category = .alert.category   # Map the category field
  .alert_action = "allowed"

  del(.alert)
'''

[transforms.enrich_geoip]
  type = "remap"
  inputs = ["suricata_parse", "mock_normalize"]
  source = '''
  # 1. Initialize defaults
  .src_country = "Unknown"
  .src_country_code = "XX"

  # 2. Query the enrichment table
  # We use the table name we defined above: "geoip_table"
  geo_data, err = get_enrichment_table_record("geoip_table", { "ip": .src_ip })

  # 3. If found, extract the data
  if err == null && geo_data != null {
    .src_country = geo_data.country.names.en || "Unknown"
    .src_country_code = geo_data.country.iso_code || "XX"
  }
  '''

# SINK: Send to ClickHouse
[sinks.clickhouse]
type = "clickhouse"
inputs = ["enrich_geoip"]
endpoint = "http://clickhouse:8123" 
database = "ids"
table = "events"
skip_unknown_fields = true
compression = "none"

[sinks.clickhouse.auth]
strategy = "basic"
user = "default"
password = "admin"  

[sinks.clickhouse.encoding]
timestamp_format = "unix"

[sinks.clickhouse.batch]
max_bytes = 10485760
timeout_secs = 1

[sinks.clickhouse.request]
retry_attempts = 3